{% extends 'blog_app/base.html' %}

{% block content %}

<h1>Итоговая аттестация по программе</h1><br>

<ol>
    “Вебразработка на Python”

    <br>

    <br><br><br>
    <hr>
    <p>Краткое описание задания</a></p>
    <p>Используя фреймворк Django создайте сайт, на котором пользователи смогут
        добавлять свои рецепты блюд и просматривать рецепты других пользователей.<br>
        Готовый проект необходимо сдать в виде ссылки на рабочий сайт в сети интернет и
        репозитория с исходным кодом проекта.
 </p>
    <hr>
</ol>


{% endblock %}